@import "compass";
@import "foundation/components/_grid.scss";
@import "foundation/components/_tooltips.scss";
//@import "foundation.scss";
@import "normalize.scss";

body{
    @include background-image(linear-gradient(to right, #FFF, #EEE));
}

#panel{
    /*    width: 20vw;
	min-width: 5cm;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;*/
    height: 100vh;
    background: #658783;
//    @include background-image(linear-gradient(to bottom, #106056, #1A3E3A));
    @include background-image(linear-gradient(to bottom, #1090D6, #10A7EA));
    box-shadow: -1px 0 8px 1px;
    border-left: 1px #6B894B solid;
    color: white;
    &> span, &>header>span {
        text-align: center;
        display: block;
        font-size: 30px;
        color: yellowgreen;
        padding: 2%;
        border-bottom: 2px #267D9F double;
        text-shadow: green 1px 1px 9px;
        transition: color 1s linear 0.25s;
    }
    .contenedor-figura {
        display: inline-block;
    }
    figura {
        display: block;
//        svg {
//            max-height: 90px;
//        }
    }
    conector.elegido{
        background-color: rgba(0,205,0,0.2);
    }
    conector .elegido{
        background-color: rgba(0,205,0,0.2);
    }
    &:hover > span{
	color: #B1EC39;
    }
    herramienta{
	    cursor: pointer;
        *:hover{
            background-image:  radial-gradient(rgba(235, 169, 120, 0.4), rgba(255,255,255,0));
        }
        *[activo="true"]{
            background-color: orange;
        }
    }
    operacion{
        cursor: pointer;
        *{
            cursor: pointer;
        }
        div {
            position: relative;
        //    width: 40px;
        //    height: 40px;
            overflow: hidden;
    //        @include grid-row();
    //  .custom-column-class {
            @include grid-column(6);
            transition: background-color 0.5s;
            &:hover{
                background-image:  radial-gradient(rgba(120, 235, 136, 0.2), rgba(255,255,255,0));
            }

        }
        #file-image input {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            right: 0;
            top: 0;
        }
    }
}

.enlazando{
    cursor: crosshair;
}

$margen-hoja: 3;
$margen-hoja-alto: #{$margen-hoja}vh;
$margen-hoja-largo: #{$margen-hoja}vw;
#hoja {
    span {
	float: left;
	font-size: 3em;
	color: gray;
    }
    background-image: url(../images/cuadricula.png);
    background-color: white;
    /*    margin: 1em;
	display: inline-block;
	width: calc(80vw - 2 * 2em);
	height: calc(100vh - 2 * 2em);*/
    height: calc(100vh - #{$margen-hoja-alto} * 2);
    margin: $margen-hoja-alto $margen-hoja-largo;
    //padding: 1em;
    &, &:before, &:after{
	border: 1px solid #ccc;
	box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
    }
    &:before, &:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: rotateZ(0.75deg);
	z-index: -1;
	&:hover{
	    transform: rotate(5deg);
	    cursor: crosshair;
	}
    }
    &:after {
	transform: rotateZ(-0.65deg);
    }
    svg text{
	cursor: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
    }
    &.enlace {
	background-color: rgba(0,200,0,0.061);
	svg .element{
	    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAHgAAABgAAAAUAAAAEgAQAAEACAAAgAQAAF/+AAAgBAAAUAgAAEgQAAdcAAACQAAAAUAAAACAAAAAQAAAACAAAABQAAAASAAAAESAAABCgAAAQYAAAEeAAABAAAAAQAAAAkgAAAFQAAAA4AAAAEAAAAAAAA///////////8H////A////wf///8H/7//A/8f/7H/j//4AAf//AAD//wAB//8H4//4A8f/8AHv//gD///8H////h////8f////D////wf///8Df///ED///xg///8YP///ED///xg///0X///4A////Af///4P////H////7//8='), auto;
	    &.highlighted g g *{
            stroke: darkgreen;
            stroke-dasharray: 0;
	    }
	}
    }
    &.borrado {
	background-color: rgba(200,0,0,0.025);
	& svg .element{
	    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA66TnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgAAAC4AAABuAAAA4AAAAdwAAAO4AAAHcAAABuAAAAXAAAADgAAAAAAAAA///////////////////////////////////////////////////////////////////////////////////////////////////////////+D////A////gP///wD///4A///8Af//+AP///AH///wD///8B////A////wf///8='), auto;
	}
    }
}

.portsTool,
.moveTool,
.resizeTool{
    opacity: 0.03;
    transition: opacity 1.4s;
}
.portsTool{
    cursor: pointer;
}
.resizeTool{
    cursor: se-resize;
}

.element:hover .portsTool,
.element:hover .moveTool,
.element:hover .resizeTool{
    transition: opacity 0.3s;
    opacity: 1;
}

figura{
    .port-label{
        font-weight: bold;
    }
    .portsTool,
    .moveTool,
    .resizeTool{
        display: none;
    }
}
:not(.dragging) figura *{
  cursor: grab!important;
  opacity: 1!important;
}
