<div id="hoja" ng-drop-success="onDropComplete($data,$event)" ng-drop="true" class="columns small-6 medium-7 large-8 {{modo}}">
    <div id="papel-diagrama"></div>
</div>

<aside id="panel" class="columns small-5 medium-4 large-3">
    <header>
        <span>Elementos</span>
    </header>

    <div class="contenedor-figura" ng-repeat="fig in figuras">
        <div ng-drag="true" ng-drag-data="fig.referenciaElemento" ng-center-anchor="true">
            <figura ng-attr-figura="fig"></figura>
        </div>
    </div>

    <span ng-if="conectores">Conectores</span>
    <div class="contenedor-figura" ng-repeat="conector in conectores">
        <conector data-conector="conector" data-funcion-conectora="seleccionarConector(conector)" data-indice="{{conector.indice}}"></conector>
    </div>

    <span>Herramientas</span>
    <herramienta data-imagen="images/Pink-eraser.png" data-operacion="borrado" data-var-modo="modo"></herramienta>
    <span>Operaciones</span>
    <operacion data-tipo="importar" data-imagen="images/importar.png"></operacion>
    <operacion data-tipo="exportar" data-imagen="images/exportar.png"></operacion>
</aside>